body{
    background-color: lightgrey;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.borda{
    width: 60%;
    margin: 0 auto;
    font-size: 34px;
    background-color: var(--bs-tertiary-bg);
}

.tamanho{
    height: 100%;
}

.centro{
    text-align: center;
}

.baixo{
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
}

tr, td, th{
    border: 1px solid black;
}

.top{
    top: 0;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 40px;
}

footer ul{
    list-style: none;
	padding: 0;
	margin: 0;
}

footer li{
    display: inline-block;
    margin: 0 10px;
}

footer a{
    color: #fff;
    text-decoration: none;    
}